*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #94E477;
}

html{
    scroll-behavior: smooth;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#707070;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.container {
    width: 800px;
    height: 300px;
    margin: 100px auto;
    background-color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
}

.results-container {
   width: 1200px;
   height: 400px;
   margin: 100px auto;
   background-color: #F6F6F6;
   font-family: 'Montserrat', sans-serif;
}

.container h1{
    color: #707070;
    margin: 0;
    padding: 0;
    font-size: 3em;
    text-align: left;
    position: relative;
    left: 7%;
}
.upload{
    border: 1px solid #94E477;
    width: 20%;
    left: 6%;
    border-radius:30px;
    background-color: #94E477;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn{
    color: #FFFFFF;
}

/* input{
    display: none;
    opacity: 0%;
} */

label{
    margin: auto px;
    padding: 10px 20px;
    border: 1px solid #94E477;
    border-radius:30px;
    color: white;
    width: 15%;
    background-color: #94E477;
    position: absolute;
    left: 25%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    cursor: pointer;
}

.container img{
    margin: 0;
    padding: 0;
    max-width: 325px;
    top: 10%;
    bottom: 10%;
}

.home-area {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.help-area{
    background: #0AB68B;
}

.about-area{
    background: #028174;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.about-area p{
   margin-top: 35%;
   text-align: center;
}

.contact{
   position:absolute;
   width: 100%;
   height: 25%;
   right: 1.5%;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
}

.contact-method{
   width: 120px;
   height: 140px;
   display: inline-block;
   cursor: pointer;
   margin-left: auto;
   margin-right: auto;
}

.contact-method a{
   text-align: center;
}

.contact-method img{
   position: absolute;
   height: 50px;
   width: 50px;
   margin-right: auto;
   margin-left: auto;
}

.help-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.text-part{
   text-align: center;
   width: 65%;
   height: 80%;
}

.help-area h1,.about-area h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

p{
    font-size: 12px;
    text-align: center;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-align: center;
}

#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 0.5;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #00171F;
 }
 #slides .slide_2 {
    background: #003459;
 }
 #slides .slide_3 {
    background: #007ea7;
 }
 #slides .slide_4 {
    background: #00A8E8;
 }
 #controls {
    margin: 30px 0px 0px 200px;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    right: 100%;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

 